
<div class="container">
  
   <div class="row">
     <!-- /.col-lg-3 -->
     <div class="in">
       
       <h1 style=" font-family:'Times New Roman', Times, serif ; font-style:italic ; font-size: 100px ; color: darksalmon ">welcome</h1>
     </div>
       <div class="row">
 
         <div class="col-lg-4 col-md-6 mb-4">
           <div class="card h-100">
            <a [routerLink]="['/Product List Laptop']"><img class="card-img-top" style=" align-self: center ; width: 350px; height: 300px ; padding: 20px ; margin:inherit  " src="../../assets/image/2.jpg" alt=""></a>
             <div class="card-body">
               <h4 class="card-title">
                 <a [routerLink]="['/Product List Laptop']">Laptops</a>
               </h4>
             
               <p class="card-text"></p>
             </div>
           </div>
         </div>
 
         <div class="col-lg-4 col-md-6 mb-4">
           <div class="card h-100">
            <a [routerLink]="['/Product List Phone']"><img class="card-img-top" style='height:300px' src="../../assets/image/13.png" alt=""></a>
             <div class="card-body">
               <h4 class="card-title">
                 <a [routerLink]="['/Product List Phone']" >Smartphones</a>
               </h4>
              
               <p class="card-text"></p>
             </div>
             
           </div>
         </div>
 
         <div class="col-lg-4 col-md-6 mb-4">
           <div class="card h-100">
            <a [routerLink]="['/Product List Camera']"><img class="card-img-top" style='height:300px; padding:20px; width:350px ;' src="../../assets/image/14.jpg" alt=""></a>
             <div class="card-body">
               <h4 class="card-title">
                 <a [routerLink]="['/Product List Camera']">Cameras</a>
               </h4>
             
               <p class="card-text"></p>
             </div>
             
           </div>
         </div>
 
        
 
        
        
 
       </div>
       <!-- /.row -->
 
     
   </div>
   <!-- /.row -->
 
 </div>
 <!-- /.container -->
 